{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="card mb-3">
    <div class="card-header"> <i class="fa fa-table"></i> List Resume </div>
      <div class="card-body">
      	<div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Applicant</th>
                <th>Email</th>
                <th>Qualification</th>
                <th>Action</th>               
              </tr>
            </thead>

            <tbody>
              {% for res in resume %}
              <tr>
                <td>
                    <h6>{{ res.applicant }}</h6>
                </td>
                <td>
                    <h6><a href="{{ res.get_absolute_url }}">{{ res.email }}</a></h6>
                </td>
                <td>
                    <h6>{{ res.tag }}</h6>
                </td>
                <td>
                  <h6><a class="dropdown-item" href="/list_resume/{{ res.email }}/delete_resume"><i class="fa fa-trash-o"></i> Delete</a></h6>
                </td>
              </tr>
             {% endfor %}
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}